<div class="container">
  <table class="table table-striped">
    <tbody>
        <tr>
          <td width="200"><%= membership.periodicidad %></td>
          <td width="200"><%= membership.fecha_afiliacion %></td>
          <td width="200"><%= membership.fecha_vencimiento %></td>
          <td width="200"><%= membership.fecha_cuota %></td>
          <td width="200"><%= membership.estado %></td>
          <td width="200"><%=membership.society.nombre%></td>
        </tr>
    </tbody>
  </table>
</div>
