<h1>Lista de Afiliaciones</h1>




<table>
  <thead class = "table table-hover">

    <tr>
      <th>Periodicidad</th>
      <th>Fecha afiliacion</th>
      <th>Fecha vencimiento</th>
      <th>Fecha cuota</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.periodicidad %></td>
        <td><%= membership.fecha_afiliacion %></td>
        <td><%= membership.fecha_vencimiento %></td>
        <td><%= membership.fecha_cuota %></td>
        <td><%= membership.estado %></td>
        <td><%= link_to 'Show', membership %></td>
        <td><%= link_to 'Edit', edit_membership_path(membership) %></td>
        <td><%= link_to 'Destroy', membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership', new_membership_path %>
