<div class="container">
  <h1 class="titulo"><strong>Datos Personales</strong></h1>
  <hr><br>
<p>
  <strong>Tipo documento:</strong>
  <%= @client.tipo_documento %>
</p>

<p>
  <strong>Numero documento:</strong>
  <%= @client.numero_documento %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @client.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @client.apellido %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @client.correo %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @client.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @client.telefono %>
</p>


</div>


<% if @client.membership != nil%>
    <div class="container">
      <h1 class="titulo"><strong>Datos de afiliación</strong></h1>
      <hr>
      <strong>Membresia:</strong>
      <p><%= @client.membership.society.nombre %></p>
      <strong>Estado de afiliacion: </strong>
      <p><% if @client.membership.estado == true %>
      Activa
      <% else %>
        Inactiva
      <% end %></p>
      <strong>Periodicidad: </strong>
      <p><%= @client.membership.periodicidad %></p>
      <strong>Fecha de afiliación: </strong>
      <p> <%= @client.membership.fecha_afiliacion %> </p>
      <strong>Fecha de vencimiento: </strong>
      <p> <%= @client.membership.fecha_vencimiento %> </p>

      <strong>Valor cuota: </strong>

      <% if @client.membership.periodicidad == "Mensual" %>

        <p> <%= @client.membership.society.valor_mensual %></p>
      <% elsif @client.membership.periodicidad == "Anual" %>

              <p> <%= @client.membership.society.valor_anual %></p>
      <% else %>
          <p> hh</p>
      <% end %>
    </div>

<% end %>
<br>
<%= link_to "<i class='fa fa-reply' aria-hidden='true'></i> Volver".html_safe,
            clients_path, class: 'btn btn-success btn-sm'%>

<%= link_to "<i class='fa fa-pencil-square-o' aria-hidden='true'></i> Editar".html_safe,
            edit_client_path(@client), class: 'btn btn-success btn-sm'%>

<% if @client.membership == nil  %>

<%= link_to "<i class='fa fa-users' aria-hidden='true'></i> Afiliar".html_safe,
            membership_client_path, class: 'btn btn-success btn-sm'%>
<% end %>
<% if @client.membership != nil %>
<%= link_to "<i class='fa fa-money' aria-hidden='true'></i> Pagar cuota".html_safe,
            pagocuota_client_path(:membership_id => @client.membership_id ), class: 'btn btn-success btn-sm'%>
<% end %>