<div style="width: 600px; height: 500px;">
<div class="panel panel-default devise-bs">
  <div class="panel-heading">

    <h4>Iniciar sesión</h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
      <div class="form-group">
        <strong>Usuario</strong>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <strong>Contraseña</strong>
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="checkbox">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %> <%= t('.remember_me', default: 'Recordarme') %>
          <% end %>
        </div>
      <% end %>
      <%= f.submit  'Ingresar', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
</div>
<%= render 'devise/shared/links' %>
